* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Variables */
:root{
    --bigSpacer: 5rem;
    --MediumSpacer: 2rem;
    --SmallSpacer: 0.5rem;
    --lightBlue:#f5faff;
    --skyBlue:#c2dbf0;
    --darkBlue: #38364d;
    --gold:#cbb57a;
    --lightBrown:#736d62;
    --darkBrown: #4d4e43;
}

/* Typografi */

h1, h2, h3, h4, h5, h6{
font-family: "Inria Serif", serif;
}

p, a, button{
    font-family: "Inika"
}

.behandlingerMain{
    padding: var(--bigSpacer) 15rem;
}

/* BEHANDLINGER */

.behandlingerBody{
    background-color: var(--lightBlue);

    h1, p{
        justify-self: center;
    }
}
.behandling{
    display: grid;
  padding: 1rem;

    img{
        height: 218px;
        width: 300px ;
        padding: var(--SmallSpacer);
        grid-column: 1;
        object-fit: cover;
          margin-top:-20px;
          border-radius: 15px;
    }

    .behandlingTekst{
        grid-column: 2;
       
        margin-top: -10px;
        height: 200px;
        color: var(--darkBlue);
        border: 1px solid var(--darkBlue);
        border-radius: 8px;
        padding: var(--SmallSpacer) ;
     
        h2{
              border-bottom: 2px solid var(--gold);
              color: var(--gold);
              font-weight: bold;
              margin-top: 0;
        }
        p{
            margin-top: -20px;
            display:-webkit-box;
        -webkit-box-orient:vertical;
       line-clamp: 1;
        overflow: hidden;
        text-overflow:ellipsis;
        height: 100px;
        }
    }
}




@media (max-width: 1100px) {
.behandlingerMain{
    padding: var(--SmallSpacer);

}

.behandling{
    display: flex;
    flex-direction: column;
    
    img{
        width: 100%;
        object-fit: cover;
    }
}

.behandlingTekst{
font-size: 16px;
}
   
}